*{
  padding: 0px;
  margin: 0px;
  border:border-box;
}
body {
  height: 100vh;
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sajawat{
  background-color: rgba(47, 138, 218, 0.3);
  width:96vw ;
  height: 96vh;
  border-radius:5px ;
  border:2px solid rgba(47, 138, 218, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#check{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.motio{
  transform: translateY(130px);
  background-color:rgba(71, 69, 69,0.7) ;
  width:600px;
  height:150px;
  border-radius: 25px;
  border:2px solid black;
  padding: 15px;
}
.motio1{
  transform: translateY(70px);
}
#headPart{
  color:white; 
  font-size:4rem ;
  text-align: center;
}
#input{
  height:40px;
  width:fit-content;
  border-radius: 25px;
  border:1px solid white;
  color:rgb(0, 0, 0);
  padding-left: 10px;
  font-size: 22px;
  background-color: rgb(245, 246, 248);
}
#input:hover{
  background-color: rgb(249, 250, 252);
  border:2px solid black;
}
#city{
  font-size: 40px;
  color:aliceblue;
  text-align: left;
}
#main{
  display:flex;
  width:90%;
  justify-content: space-evenly;
  padding: 10px;
  color:aliceblue;
  border-radius: 10px;
  margin: 15px;
}

img{
  width:90px;
}
.temp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tempResult{
  font-size: 65px;
  font-family:'Roboto',sans-serif;
  font-weight: 100;
}
#tempFont{
  display: flex;
}
#deg{
  transform: translateY(12px);
  font-size: 30px;
  font-family:'Roboto',sans-serif;
}
#humidity{
  font-size: 65px;
  font-family:'Roboto',sans-serif;
  font-weight: 100;
}
#additional{
  width:90%;
  padding: 10px;
  color:aliceblue;
  border-radius: 10px;
  margin: 15px;

  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.subinfo{
  font-size: 12px;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.subinfo img{
  width:40px;
}

#headig{
  position: absolute;
  top:2vh;
  left:18vw;
  font-size: 2.5rem;
  color:white;
  background-color: rgba(71, 69, 69,0.7);
  padding: 8px;
  border-radius: 15px;
  width:fit-content;
}
.kuchto{
  height:25px;
  position: absolute;
  transform: translateY(-23px);
  top:100px;
  right:30vw;
  font-size: 16px;
  color:black;
  width:200px;
}

@media(min-width:1200px){
  #main{
    width:50%;
  }
  #headig{
    left:15vw;
    font-size: 3.5rem;
  }
  .kuchto{
    right:15vw;
    top:7vh;
  }
}
@media(min-width:600px) and (max-width:1200px){
  #main{
    width:fit-content;
  }
  .temp{
    padding:0px 90px 0px 90px;
  }
  .kuchto{
    right:5vw;
    top:7vh;
  }
  #headig{
    left:10vw;
    top:3vh;
  }
}
@media(max-width:460px){
  .kuchto{
    right:2uw;
    top:13vh;
  }
  #headig{
    left:3rem
  }
  #sajawat{
    width:96vw;
  }
  .motio{
    width:320px;
    height:200px;
  }
}
@media(max-width:370px){
  .kuchto{
    right:19vw;
    top:20vh;
  }
  #headig{
    width: 160px;;
    left:25vw;
  }
  #headPart{
    font-size: 2rem;
  }
  .motio{
    height:100px;
  }
  #chek2{
    transform: translateY(20px);
  }
  .update{
    transform: translateY(20px);
  }
}